/* Global Styles */
body.dark-theme {
    background-color: #1a1a1a;
    color: #fff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    padding: 20px;
    text-align: center;
}

.extension-icon {
    width: 30px;
    height: 30px;
}

h2 {
    color: #4caf50;
    margin-top: 10px;
    text-align: center;
}

p, .myHeading img {
    text-align: center;
}

.myHeading img {
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
}

nav.sidebar-nav {
    background-color: #333333;
    padding: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

/* Button Styles */
button, a.dropbtn, #copyButton {
    display: block;
    width: 100%;
    padding: 12px;
    text-align: center;
    background-color: #4caf50;
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 6px;
}

button:hover, a.dropbtn:hover, #copyButton:hover {
    background-color: #388e3c;
}

/* Main Content Styles */
main {
    padding: 20px;
    flex: 1;
    overflow-y: auto;
}

#output {
    user-select: auto;
    padding: 10px;
    border: 5px solid #444;
    border-radius: 8px;
    background-color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

/* Dropdown Styles */
.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333333;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 6px;
    padding: 16px;
}

/* Additional styles for dropdown content */
.dropdown-content label, .dropdown-content input, .dropdown-content button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.dropdown-content input {
    padding: 8px;
    background-color: #333333;
    color: #fff;
    border: 1px solid #4caf50;
    border-radius: 4px;
}

.dropdown-content input:focus {
    outline: none;
    border-color: #388e3c;
}

.dropdown-content button {
    background-color: #4caf50;
    color: #fff;
    padding: 12px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

.dropdown-content button:hover {
    background-color: #388e3c;
}

.dropdown:hover .dropdown-content {
    display: block;
}
